extends baseEmail

block content
  tr
    td(style='padding:32px 32px 16px 32px;')
      h1(style='text-align:left;font-size:24px;font-weight:400;line-height:22px;margin:0;padding:0;font-family:open sans,helvetica neue,helvetica,arial,sans-serif')  Hi #{firstName},
  tr
    td(style='font-size:14px;font-family:open sans,helvetica neue,helvetica,arial,sans-serif;text-align:left;padding:0px 32px 16px 32px')
      p(style='line-height:20px')
        | We have received a request to reset your password for the SITI tea Monitoring System. To ensure the security of your account, click on the button below.
      p(style='line-height:20px')
        | Please note that the password reset link will expire after #{options.emailExpierIn} minutes for security reasons. If you do not reset your password within that time, you will need to submit another password reset request.
      p(style='line-height:20px')
        strong Security tip:
        |  do not share your account details with anyone and change your password periodically.

  tr
    td(style='text-align:center;padding:0px 32px 16px 32px;font-family:open sans,helvetica neue,helvetica,arial,sans-serif')
      a(style='border:0 solid #fff;text-transform:uppercase;color:#fff;font-size:14px;padding:12px 18px 12px 18px;line-height:3;text-decoration:none;border-radius:3px;background-color:#2ecc71' href=`${url}/reset-password/${options.resetToken}` target='_blank') Reset password


  tr
    td(style='font-size:14px;font-family:open sans,helvetica neue,helvetica,arial,sans-serif;text-align:left;padding:0px 32px 16px 32px')
      p(style='line-height:20px')
        | If you did not initiate this password reset request or need further assistance, please contact our support team immediately at 
        a(href=`mailto:${options.supportEmail}` style='text-decoration:none;color:#2ecc71' target='_blank') #{options.supportEmail}
        | , We are here to help you secure your account and address any concerns you may have.

